:root{

    /*Primary*/
    
    --Dark-cyan: hsl(185, 75%, 39%);
    --Dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    
    /*Neutral*/
    
    --Dark-gray: hsl(0, 0%, 59%);
    
    /*Typography*/
    
    --Font-size-nameAndStats: 18px
    
    }